﻿
@{
    ViewBag.Title = "TestInvisiblereCaptcha";
    Layout = "~/Views/Shared/_LayoutPageUA.cshtml";
}
<script>
    function onSubmit() {
        alert("test");
        $("#demo-form").submit();
    }
</script>
<form id='demo-form' method="POST">
    @Html.AntiForgeryToken()
    <input id="test1" name="test1"/>
    <button
        class="g-recaptcha"
        data-sitekey="6LeCnIYUAAAAAPpqm1Z3jn9hhi7JjYDlY59zx9Ex"
        data-callback="onSubmit">
        Submit
    </button>
</form>

