﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageUA.cshtml";
}

<h2>Admin</h2>

<ul>
    <li>
        @Html.ActionLink("Articles", "Index", "Articles", routeValues: null, htmlAttributes: new { title = "Articles" })
    </li>
    <li>
        @Html.ActionLink("Comments", "Index", "Comments", routeValues: null, htmlAttributes: new { title = "Comments" })
    </li>
    <li>
        @Html.ActionLink("Calendar", "Index", "Task", routeValues: null, htmlAttributes: new { title = "Calendar" })
    </li>
</ul>

