﻿<!DOCTYPE html>
<!--[if lte IE 9]><html lang="en" dir="ltr" class="lte-ie9 external-links ua-brand-icons sticky-footer"><![endif]-->
<!--[if (gt IE 9)|(gt IEMobile 7)]><!--><html lang="en" dir="ltr" class="external-links ua-brand-icons sticky-footer"><!--<![endif]-->

<html lang="en" class="external-links ua-brand-icons sticky-footer">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VGS Web</title>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.uadigital.arizona.edu/lib/ua-bootstrap/v1.0.0-beta.18/ua-bootstrap.min.js"></script>
    <!--This bundle was moved by the Telerik VS Extensions for compatibility reasons-->
    <!-- Latest icon font stylesheet -->
    <link rel="stylesheet" href="https://cdn.uadigital.arizona.edu/lib/ua-brand-icons/latest/ua-brand-icons.css">
    <!-- Compiled and minified UA Bootstrap CSS, icon font not included -->
    <link rel="stylesheet" href="https://cdn.uadigital.arizona.edu/lib/ua-bootstrap/v1.0.0-beta.18/ua-bootstrap.min.css">

    <link href="https://kendo.cdn.telerik.com/2017.2.504/styles/kendo.common-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2017.2.504/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2017.2.504/styles/kendo.bootstrap.min.css" rel="stylesheet" type="text/css" />

    <script src="https://kendo.cdn.telerik.com/2017.2.504/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.2.504/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.2.504/js/kendo.aspnetmvc.min.js"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
<header id="header_ua" class="l-arizona-header bg-red bg-cochineal-red">
    <section class="container l-container">
        <div class="row">
            <div class="col-xs-12">
                <a href="http://www.arizona.edu" title="The University of Arizona homepage" class="arizona-logo" target="_blank" rel="noopener noreferrer">
                    <img alt="The University of Arizona Wordmark Line Logo White" src="https://brand.arizona.edu/sites/default/files/digital-resources/ua_wordmark_line_logo_white_rgb.svg" class="arizona-line-logo">
                </a>
            </div>
        </div>
    </section>
</header>
<div class="container">
  
 
<nav id="navbar-example" class="navbar navbar-default navbar-static">
    <div class="container-fluid ">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".example-js-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="text">MAIN MENU</span>
            </button>
        </div>
        <div class="collapse navbar-collapse example-js-navbar-collapse ">
            <ul class="nav navbar-nav" role="tablist">
                <li role="presentation" id="home">@Html.ActionLink("Home", "Index", "Home")</li>
                <li role="presentation" id="whatis">@Html.ActionLink("What is VGS?", "WhatIsVGS", "Home")</li>
                <li role="presentation" id="samplingmethods">@Html.ActionLink("Sampling Methods", "SamplingMethods", "Home")</li>
                <li class="dropdown" id="faqs">
                    <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        FAQS
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="drop1">
                        <li>@Html.ActionLink("General", "GeneralFAQ", "Home")</li>
                        <li>@Html.ActionLink("Support", "SupportFAQ", "Home")</li>
               
                    </ul>
                </li>
                <li class="dropdown" id="support">
                    <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Support
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="drop1">
                        <li>@Html.ActionLink("General", "General", "Support") </li>
                        <li>@Html.ActionLink("My Tickets", "MyTickets", "Support") </li>
                        <li>@Html.ActionLink("VGS Support", "VGSSupport", "Support") </li>
               
                    </ul>
                </li>
                <li role="presentation" id="downloads">@Html.ActionLink("Downloads", "Index", "Download")</li>
                <li role="presentation" id="downloads">@Html.ActionLink("Contact Us", "ContactUs", "Home")</li>
                
            </ul>
            
        </div><!-- /.nav-collapse -->
    </div><!-- /.container-fluid -->
	
	
</nav>
  
  
<header class="page-row col-md-12 bg-leaf">
    <img src="https://vgs.arizona.edu/sites/default/files/styles/adaptive/public/vgs-text-page-f.png?itok=iihORv3R" alt="VGS Image" class="bg-leaf">
</header>
<div class="row" >
    <div class="col-md-9">
        @RenderBody()
    </div>
    <div class="col-md-3">
        <div class="h3">&nbsp;</div>
        <br>
        <div>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
            <div>
                <a href="#">Add Content</a> <i class="ua-brand-right-arrow"></i>
            </div>
            <div>
                <a href="#">Calendar</a> <i class="ua-brand-right-arrow"></i>
            </div>
            <div>
                <a href="#">Forums</a> <i class="ua-brand-right-arrow"></i>
            </div>
            <div>
                <a href="#">Support</a> <i class="ua-brand-right-arrow"></i>
            </div>
            <div>
                <a href="#">Support Tickets</a> <i class="ua-brand-right-arrow"></i>
            </div>
            <br>
            @Html.Partial("_LoginPartial")
            </div>
            
        </div>
    </div>

    <footer class="page-row">
        <div class="block block-block block-10 block-block-10 odd block-without-title" id="block-block-10">
            <div class="block-inner clearfix">
                
                <div class="content clearfix">
                    <p>University of Arizona - <a href="http://cals.arizona.edu/vbarv/rangeprogram/content/arizona-cooperative-rangeland-monitoring-program">Arizona Cooperative Rangeland Monitoring Program</a>.<br>Copyright © 2016 - 2018 Arizona Board of Regents. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
</div>


@RenderSection("scripts", required: false)
</body>
</html>
 
