﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
 
        <div>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" }) <i class="ua-brand-right-arrow"></i>
</div>
        <div><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a> <i class="ua-brand-right-arrow"></i></div>
        if (User.IsInRole("Admin"))
         {
             @Html.ActionLink("Admin", "Index", "Admin", routeValues: null, htmlAttributes: new { title = "Manage" }) <i class="ua-brand-right-arrow"></i>
         }
    }
}
else
{
     
        <div>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) <i class="ua-brand-right-arrow"></i></div>
        <div>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) <i class="ua-brand-right-arrow"></i></div>
     
}
 