﻿@model IEnumerable<VGS_Prototype.Models.Comment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageUA.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@(Html.Kendo().Grid(Model)
      .Name("Grid")
      .Columns(columns =>
      {
          //columns.Command(command => { command.Edit(); });
          columns.Bound(p=> p.CommentId).ClientTemplate(@"<a href='/comments/edit/#=CommentId#'>Edit </a>").Width(50).Title("").Filterable(false);
          columns.Bound(p => p.CommentId).ClientTemplate(@"<a href='/comments/delete/#=CommentId#'>Delete</a>").Width(70).Title("").Filterable(false);
          columns.Bound(p => p.CommentFrom).Title("Comment");
          columns.Bound(p => p.Email).Title("Email").Width(130);
          columns.Bound(p => p.LastModified).Title("By");
          columns.Bound(p => p.LastModifiedDate);
      })
      .HtmlAttributes(new { style = "height: 550px;" })
      .Pageable( pageable => pageable
          .Input(true)
          .Numeric(false)
      )
      .ToolBar(tools => tools.Create())
      .Sortable()
      .Scrollable(scr=>scr.Height(430))
      .Filterable()
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(20)
          .ServerOperation(false)
          .Model(model =>model.Id(p=>p.CommentId))
          .Create(read =>read.Action("Create2","Comments"))
          .Update(read =>read.Action("Edit","Comments"))
      )
      )