﻿@model VGS_Prototype.Models.Article

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutPageUA.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Article</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ArticleId)

        <div class="form-group">
            @Html.LabelFor(model => model.PageTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PageTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PageTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ArticleHtml, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @(Html.Kendo().Editor()
                      .Name("ArticleHtml")
                      .HtmlAttributes(new { style = "height:440px", aria_label = "ArticleHtml" })
                      .Resizable(resizable => resizable.Content(true).Toolbar(true))
                      .Tools(tools => tools
                        .Clear()
                        .Bold().Italic().Underline().Strikethrough()
                        .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                        .CreateLink().Unlink()
                        .TableEditing()
                        .FontColor().BackColor()
                        )
                      .Value(Model.ArticleHtml))
               
               
                      
                @Html.ValidationMessageFor(model => model.ArticleHtml, "", new { @class = "text-danger" })
            </div>
        </div>

        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
