﻿@model IEnumerable<VGS_Prototype.Models.Article>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageUA.cshtml";
}

<h2>Web Pages</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.PageTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArticleHtml)
        </th>
         

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ArticleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ArticleId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageTitle)
        </td>
        <td>
            @Html.Raw(item.ArticleHtml)
        </td>
        

    </tr>
}

</table>
